<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer-link" th:fragment="footer-link">
    <el-row class="container">
        <el-col :span="17" class="footer-link-left">
            <div class="link-item">
                <h3>购物指南</h3>
                <ul>
                    <li>
                        <a href="/course/347/learn#lesson/673" target="_blank">购物流程</a>
                    </li>
                    <li>
                        <a href="/course/347/learn#lesson/705" target="_blank">关于定制</a>
                    </li>
                    <li>
                        <a href="/course/347/learn#lesson/811" target="_blank">常见问题</a>
                    </li>
                </ul>
            </div>
            <div class="link-item ">
                <h3>配送方式</h3>
                <ul>
                    <li>
                        <a href="/faq/527/detail" target="_blank">限时发货</a>
                    </li>
                    <li>
                        <a href="/course/147" target="_blank">配送费收取标准</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">海外配送</a>
                    </li>
                </ul>
            </div>

            <div class="link-item ">
                <h3>支付方式</h3>
                <ul>
                    <li>
                        <a href="/faq/527/detail" target="_blank">支付宝</a>
                    </li>
                    <li>
                        <a href="/course/147" target="_blank">微信支付</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">公司转帐</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">红包支付</a>
                    </li>
                </ul>
            </div>

            <div class="link-item ">
                <h3>售后服务</h3>
                <ul>
                    <li>
                        <a href="/faq/527/detail" target="_blank">售后政策</a>
                    </li>
                    <li>
                        <a href="/course/147" target="_blank">价格保护</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">退款说明</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">返修/退换货</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">取消订单</a>
                    </li>
                </ul>
            </div>

            <div class="link-item ">
                <h3>关于我们</h3>
                <ul>
                    <li>
                        <a href="/faq/527/detail" target="_blank">产品优势</a>
                    </li>
                    <li>
                        <a href="/course/147" target="_blank">眼镜设计师</a>
                    </li>
                    <li>
                        <a href="/faq/548/detail" target="_blank">加入我们</a>
                    </li>
                </ul>
            </div>

        </el-col>

        <el-col :span="7" class="link-about">
            <h3>中华眼镜网</h3>
            <div>
                版权均归 XXXX网络科技有限公司 所有
            </div>
            <div>
                客服电话： +86 0577 87378274
            </div>
            <div>
                浙公网备案 330108029xxxxxxxx39号
            </div>
            <div>
                浙ICP备 1300000390号
            </div>
            <div>
                <el-button class="link-about-sns" type="success" icon="icon iconfont icon-weixin" size="mini"
                           circle></el-button>
                <el-button class="link-about-sns" type="primary" icon="icon iconfont icon-apple" size="mini"
                           circle></el-button>
                <el-button class="link-about-sns" type="success" icon="icon iconfont icon-android" size="mini"
                           circle></el-button>
            </div>

        </el-col>
    </el-row>
</div>

</body>
</html>